body.light {
  /* Background color */
  --color-bg-normal: #ffffff;
  --color-bg-primary: #F5F7FA;
  --color-bg-topics: #F7F9FC;
  --color-bg-topics_active: #CFD3E4;
  --color-bg-topics_shadow: #9499B0;
  --color-bg-leftbar_top: #3d4258;
  --color-bg-leftbar_bottom: #313546;
  --color-bg-leftbar_item: #676F90;
  --color-bg-item: #f4f6f9;
  --color-bg-item_status: #9499B0;
  --color-bg-input: #ffffff;
  --color-bg-messagebox: #ffffff;
  --color-bg-follows: #CFD3E4;
  --color-bg-code: #E9EBF5;
  --color-bg-input_btn: #F5F7FA;
  --color-bg-radio: #F5F7FA;
  --color-bg-select_lang: #F5F7FA;
  --color-bg-popover: #303340;
  --color-bg-dark: #303340;
  --color-bg-unreadmsg: #303340;
  --color-bg-historybtn: #F5F7FA;
  --color-bg-scrollbar: #676F90;
  --color-bg-scrollbar-inactive: #b8bed4;
  --color-bg-skeleton: #E9EBF5;
  --color-bg-skeleton_transition: #E9EBF5;
  --color-bg-card-normal: #F5F7FA;
  --color-bg-card-gradient: linear-gradient(33deg, #E8EAFD 0%, #E9EBF5 100%);
  --color-bg-btn-gradient: linear-gradient(90deg, #687AFF 0%, #8B9BFD 100%);

  /* Font color */
  --color-text-title: #303340;
  --color-text-default: #676F90;
  --color-text-light: #9499B0;
  --color-text-tips: #9499B0;
  --color-text-right_block: #687AFF;
  --color-text-right_info: #ffffffde;
  --color-text-left_info: #838cb1;
  --color-text-active: #fff;
  --color-text-leftbar_icon: #676F90;
  --color-text-historybtn: #303340;
  --color-text-historybtn_disabled: #CFD3E4;
  --color-text-card_icon: #303340;

  /* Accent color */
  --color-main-green: #687AFF;
  --color-minor-green: #8B9BFD;
  --color-light-green: #E8EAFD;
  --color-junior-green: #34c388;
  --color-minor-red: #f56c6c;
  --color-light-red: #fcdee4;
  --color-main-grey: #E9EBF5;
  --color-main-yellow: #e6a23cb3;
  --color-main-white: #fff;

  /* Border color */
  --color-border-default: #CFD3E4;
  --color-border-bold: #979797;
  --color-border-rightbar: transparent;
  --color-border-left_metainfo: #9499B0;
  --color-border-right_metainfo: #ffffff8c;

  /* Shadow color */
  --color-shadow-leftlist: #676F9038;
  --color-shadow-sendbtn: #4C68FC69;
  --color-shadow-card: #676F901a;
  --color-shadow-message: #dcdcdc;
}
