/* Change element-ui theme variable */
$--color-primary: #4C68FC;

/* Change icon font pathï¼Œrequired */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';
